fastapi
uvicorn
python-dotenv
langchain
langgraph
langgraph-checkpoint-postgres
langchain-community
langchain-openai
langchain-text-splitters
azure-ai-documentintelligence
psycopg[binary,pool]
pgvector
python-multipart
tavily-python
yfinance
pandas
mplfinance
pandas_ta
